VITE_API_ENDPOINT=https://www.appwrite.io/v1
VITE_PROJECT_ID=Project_id
VITE_DATABASE=database_id
VITE_USER=user
VITE_POST=post
VITE_MESSAGE=messages
VITE_CONVERSATION=conversations
VITE_BUCKET_PROFILE_IMAGE=bucket_id